.row1{
    background-color: green;
    color: azure;
}
.row2{
    background-color:darkblue;
}
.row3{
    background-color:skyblue;
}
.row4{
    background-color:rebeccapurple;
}
.row5{
    background-color:plum;
}